.hide-intro {
    text-align: center;
}

.box {
    background-color:#eaf5ff;
    border-radius: 10px;
    box-shadow: 0 0.5em 1em -0.125em hsl(217, 71%, 53%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #000;
}

.weatherinfo {
    text-align: center;
}

.media {
    justify-content: center
}

